<div class="row mt-5 justify-content-center">
    <div class="col-md-6 text-center">
        <h2 class="mb-4">Forgot Password?</h2>
        <form method="post">
            <div class="form-group">
                <label for="email" class="form-label fs-5">Please Enter Your Email</label>
                <input id="email" name="email" type="email" class="form-control mt-3 p-2" placeholder="you@example.com" />
                <span class="text-danger mt-2 d-block">
                    @Html.ValidationMessage("Error1")
                </span>
            </div>
            <button class="btn btn-dark btn-lg mt-4 px-5" type="submit">Send</button>
        </form>
    </div>
</div>
