@using Fiorello.Areas.AdminArea.ViewModels.UserVms
@model UserListVM

@{
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>User Details</h3>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">Full Name:</div>
                        <div class="col-sm-8">@Model.FullName</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">User Name:</div>
                        <div class="col-sm-8">@Model.UserName</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">Email:</div>
                        <div class="col-sm-8">@Model.Email</div>
                    </div>
                    <a asp-action="index" class="btn btn-outline-dark">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>


